*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-color: #457846;
  --btn-color: #59ca7f;
  --bg-input: #b4d6b4;
  --text-color: white;
  --bg-art: #161f16;
}

body {
  margin: 0;
  font-family: "Roboto", serif;
}
.vh-75 {
  min-height: 70vh;
}
.w-45 {
  width: 42%;
}
.row-width {
  width: 42%;
}
a {
  color: var(--btn-color);
}
.left-layer {
  position: absolute;
  width: 50.0081rem;
  height: 50.0081rem;
  top: -28.75rem;
  left: -34.375rem;
  border-radius: 50%;
  background-color: var(--btn-color);
}
.right-layer {
  position: absolute;
  width: 740.1296px;
  height: 50.0081rem;
  right: -29.1956rem;
  bottom: -30.75rem;
  border-radius: 50%;
  background-color: var(--btn-color);
}

.register {
  min-height: 100vh;
  background-color: var(--main-color);
  position: relative;
  overflow: hidden;
}
.register .register-content {
  color: var(--text-color);
}
.register .register-content h1 {
  font-size: 37px;
  font-weight: 700;
}
.register .register-content p {
  font-size: 1rem;
  font-weight: 500;
}
.register .form-group {
  position: relative;
}
.register .form-group input {
  background-color: var(--bg-input);
  color: var(--bg-art);
}
.register .form-group input:focus {
  box-shadow: 0 0.5625rem 0.125rem var(--btn-color);
}
.register .form-group i {
  font-size: 1.25rem;
  position: absolute;
  color: var(--bg-art);
  right: 0.625rem;
  top: 0.5rem;
}
.register .Register-btn {
  background-color: var(--btn-color);
}
.register .Register-btn button {
  color: var(--bg-art);
  font-weight: 500;
}
.register p {
  color: var(--text-color);
}
#input-msg,
#emailExist,
#emailExist {
  font-size: 17px;
  font-weight: 500;
}

@media (max-width: 62rem) {
  .left-layer {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 50%;
  }
  .right-layer {
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
  }

  .row-width {
    width: 90%;
  }
}
